* {
       box-sizing: border-box;
       }
   body {
   background-color: black;
   margin: 0px 50px 50px;
}

   /* Each item in the grid contains numbers */
   .item {
   display: flex;
   justify-content: center;
   align-items: center;
   border: 5px solid gray;
   border-radius: 3px;
   font-size: 2em;
   font-family: sans-serif;
   font-weight: bold;
   background-color:white;
}


   .container {
   display: grid;
   grid-template-columns: 3fr 5fr 3fr;
   grid-template-rows: auto auto auto;
   grid-template-areas:
       "top top top"
       "left center right"
       "bottom bottom bottom";
}

.header {
	height:500px;
   grid-area: top;
  background-image: url("banner01.jpg");
  background-repeat: no-repeat;
  background-position: center ;
  background-size: 900px;
}

.content button,.ads button,.footer button,.articles button{
  background-color: black; 
  border: 1px solid blue; 
  color: white; 
  padding: 10px 24px; 
  cursor: pointer; 
  float: left;
}
.content button:hover,.ads button:hover,.footer button:hover,.articles button:hover{
	background-color: blue;
}
.articles {
    grid-area: right;
}
.footer {
    grid-area: bottom;
}

.ads {
   grid-area: left;
}

